<!--
             ."-,.__
                 `.     `.  ,
              .--'  .._,'"-' `.
             .    .'         `'
             `.   /          ,'
               `  '--.   ,-"'
                `"`   |  \
                   -. \, |
                    `--Y.'      ___.
                         \     L._, \
               _.,        `.   <  <\                _
             ,' '           `, `.   | \            ( `
          ../, `.            `  |    .\`.           \ \_
         ,' ,..  .           _.,'    ||\l            )  '".
        , ,'   \           ,'.-.`-._,'  |           .  _._`.
      ,' /      \ \        `' ' `--/   | \          / /   ..\
    .'  /        \ .         |\__ - _ ,'` `        / /     `.`.
    |  '          ..         `-...-"  |  `-'      / /        . `.
    | /           |L__           |    |          / /          `. `.
   , /            .   .          |    |         / /             ` `
  / /          ,. ,`._ `-_       |    |  _   ,-' /               ` \
 / .           \"`_/. `-_ \_,.  ,'    +-' `-'  _,        ..,-.    \`.
  '         .-f    ,'   `    '.       \__.---'     _   .'   '     \ \
' /          `.'    l     .' /          \..      ,_|/   `.  ,'`     L`
|'      _.-""` `.    \ _,'  `            \ `.___`.'"`-.  , |   |    | \
||    ,'      `. `.   '       _,...._        `  |    `/ '  |   '     .|
||  ,'          `. ;.,.---' ,'       `.   `.. `-'  .-' /_ .'    ;_   ||
|| '              V      / /           `   | `   ,'   ,' '.    !  `. ||
||/            _,-------7 '              . |  `-'    l         /    `||
 |          ,' .-   ,' ||               | .-.        `.      .'     ||
 `'        ,'    `".'    |               |    `.        '. -.'       `'
          /      ,'      |               |,'    \-.._,.'/'
          .     /        .               .       \    .''
        .`.    |         `.             /         :_,'.'
          \ `...\   _     ,'-.        .'         /_.-'
           `-.__ `,  `'   .  _.>----''.  _  __  /
                .'        /"'          |  "'   '_
               /_|.-'\ ,".             '.'`__'-( \
                 / ,"'"\,'               `/  `-.|"


 -->

  <div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left">
      <div class="marg-auto pad-left7 " style="height:80%"><a href="/#top"><img id="logo" style="height:100%; padding-top:5px;" src="/assets/logodg.png"></a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">
      <div class="marg-top-nav pad-right7">
        <a href="#about-me" class="pad-05">About</a>
        <a href="#portfolio" class="pad-05">Portfolio</a>
        <a href="#resume" class="pad-05">Resume</a>
        <a href="#contact" class="pad-05">Contact</a>

      </div>
    </div>
  </div>


  <div id="top" class="w-100p pos-abs header" style="height:50rem;">
    <div class="overflow-hid w-100p h-100p">
      <video  width='100%', height="auto", preload="auto", autoplay="autoplay", muted="muted", poster="", loop="true">
        <source src="assets/nasa.mp4">
        </video>
    </div>
  </div>

  <div class="w-100p pos-relative left-0 h-50 back-black   top-offset z-plus">
  </div>

  <div class="w-50p pos-abs top-10 left-10 h-10  z-plus txt-center ft-4 white">
    <%= @greeting %>, <%= @action %>.
  </div>


  <!-- About Me Section -->

  <div id="about-me" class="header"></div>
  <div  class="container_12 back-white">
    <div  class="grid_12 txt-center ">
      <div><h1 class="marg-top2">About</h1></div>
    </div>
    <!-- Profile Picture Round -->
    <div class="grid_6 pad-btm-1">
      <div class='square-box float-left'>
        <div class='square-content '>
          <div><span></span></div>
        </div>
      </div>
    </div>

    <!-- Introduction Section -->
    <div class="grid_6 txt-center clearfix">
      <h1 class="">Hi, I'm Danny.</h1>
      <p>I am a student of Computer Science and Information Technologies at the University of Missouri, Columbia. I will be completing a B.S. in Computer Science with a minor in Mathematics in December 2014, and am currently seeking a full time software development position. I get excited by impossible problems and I want to create software that will change the world.</p>
    </div>

    <div class="clear"></div>

    <!-- Social Links -->
    <div class="grid_6 -ltblue  txt-center ft-2">
      <a href="http://www.linkedin.com/in/whoisglover"><i id="social" class="fa fa-linkedin-square ft-1 linkedin"></i></a>
      <a href="http://www.github.com/whoisglover"><i id="social" class="fa fa-github github"></i></a>
      <a href="http://www.twitter.com/whoisglover"><i id="social" class="fa fa-twitter twitter"></i></a>
      <a href="http://www.instagram.com/whoisglover"><i id="social" class="fa fa-instagram instagram"></i></a>
    </div>

    <div class="clear"></div>

    <!-- Extra Space -->

    <div class="clear"></div>

    <!-- Skills Section -->
    <div class="grid_6  clearfix txt-center">
      <h1>Skills</h1>
      <ul id="skills">
        <li>C/C++</li>
        <li>Java</li>
        <li>Ruby + Rails</li>
        <li>PHP</li>
        <li>HTML5/CSS3</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>Agile Web Development</li>
        <li>Test Driven Development</li>
        <li>API Design</li>
        <li>Mobile Application Development</li>
        <li>Algorithms</li>
        <li>SQL</li>
        <li>PSQL</li>
        <li>REST</li>
        <li>Git</li>
        <li>Github</li>
        <li>Pair Programming</li>
        <li>OO Principles & Design</li>
      </ul>
    </div>

    <!-- Personal Section -->
    <div class="grid_6 clearfix txt-center" style="height:211px;">
      <img src="assets/logo.png" class="w-95p pad-left2">
    </div>

    <div class="clear"></div>

    <!-- Extra Space -->
    <div class="grid_12 h-10"></div>
    <div class="clear"></div>
  </div>

  <!-- Tree Nap Divider -->
  <div id="divide" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Portfolio Section -->
  <div id="portfolio" class="header"></div>

  <div class="container_12 back-white">
    <div class="grid_12">
      <h1>Portfolio</h1>
    </div>
    <div class="clear"></div>

    <!-- FrogPress -->
    <div class="grid_4 -red txt-center h-38">
      <div id="frogpress" class="w-85p marg-auto back-orange h-13 marg-top1 txt-center white"></div>

      <h2>FrogPress</h2>
      <h3>Analytical classroom writing platform</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Ruby on Rails</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Rspec + Capybara</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
        <li class="white"></li>
      </ul>


        <p><a href="/projects/frogpress">Details<i class="fa fa-angle-double-right"></i></a></p>

    </div>
    <div class="grid_4  txt-center h-38">
      <div id="capstone" class="w-85p marg-auto back-orange h-13 marg-top1 txt-center white"></div>
      <h2>CapMS</h2>
      <h3>Undergraduate Capstone classroom management</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Ruby on Rails</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>AWS S3</li>
        <li>MU Single Sign On</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>

      <p><a href="/projects/capms">Details<i class="fa fa-angle-double-right"></i></a></p>

    </div>
    <div class="grid_4 back-en txt-center h-38">
      <div id="whenandwhere" class="w-85p marg-auto back-orange h-13 marg-top1 txt-center white"></div>

      <h2>When & Where</h2>
      <h3>Crime plotting and analytics for the city of San Francisco</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Sinatra</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Data SF - City API</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
        <li class="white"></li>
      </ul>
      <p><a href="/projects/when-where">Details<i class="fa fa-angle-double-right"></i></a></p>

    </div>
    <div class="clear"></div>
    <div id="ios-projects" class="back-yellow">
      <div class="grid_4 pad-left18 txt-center">
        <div class="w-85p marg-auto backrange h-13 marg-top1 txt-center white">
          <img class="h-100p" src="/assets/fittogether.png">
        </div>
        <h2>Fit Together</h2>
        <h3>Team based excericse competition application</h3>
        <p>Technologies:</p>
        <ul class="txt-left">
          <li>Swift</li>
          <li>XCode 6</li>
          <li>Healthkit</li>
          <li>Cloudkit</li>
        </ul>

        <p><a href="/projects/fit-together">Details<i class="fa fa-angle-double-right"></i></a></p>

      </div>

      <div class="grid_4 txt-center">
        <div class="w-85p marg-auto back-onge txt-center white h-13 marg-top1">
          <img class="h-100p" src="/assets/realmsapp.png">
        </div>
        <h2>WoW Stats: Realms</h2>
        <h3>World of Warcraft realm monitoring in real time</h3>
        <p>Technologies:</p>
        <ul class="txt-left">
          <li>Swift</li>
          <li>XCode 6</li>
          <li>Battle.net API</li>
          <li class="white"></li>
        </ul>
        <p><a href="/projects/wow-stats-realms">Details<i class="fa fa-angle-double-right"></i></a></p>
      </div>
    </div>
  </div>

  <div id="divide2" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Resume Section -->
  <div id="resume" class="header"></div>
  <div id="" class="container_12 back-white">
    <div class="grid_12 txt-center pad-btm-2">
      <h1>Resume</h1>
      <br>
      <img class = "w-75p marg-auto box-shadow" src="assets/resume.jpg">
      <a href="/assets/resume.pdf" class="txt-clear txt-right" target="_blank"><h5 class="pad-right7">Download PDF<i class="fa fa-file-pdf-o"></i></h5></a>

    </div>
  </div>

  <div id="divide3" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Contact Me Section -->
  <div id="contact" class="header"></div>
  <div class="container_12 back-white">
    <div class="grid_12  txt-right">
      <h1>Contact</h1>
    </div>
  </div>
  <% @contact = Contact.new %>
  <div align="center">
    <h3>Want to chat? Shoot me an <a style="color: #3498DB" href="mailto:djglover00@gmail.com">email</a>.</h3>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>


  <div class="w-100p white txt-center back-blue" style="border-top: 1px solid gray">
    <p style="margin-bottom:0;">Built with Ruby 2 + Rails 4</p><p class="margin-0 pad-btm-1"><a href="http://dannyglover.svbtle.com/" class="txt-clear white">Blog</a> • <a href="" class="txt-clear white">Legal</a> • <a href="" class="txt-clear white">Source</a></p>
  </div>