
<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
  <div class="w-50p h-100p disp-inline float-left ">
    <div class="marg-top1 pad-left5">DG</div>
  </div>
  <div class="w-50p h-100p disp-inline float-left txt-right ">
    <div class="marg-top1 pad-right5">About Portfolio Resume Contact</div>
  </div>
</div>


<div class="w-100p pos-abs b" style="height:656px;">
  <div class="overflow-hid w-100p h-100p">
    <video  width='100%', height="auto", preload="", autoplay="autoplay", muted="muted", poster="", loop="true">
      <source src="assets/fish.mp4">
    </video>
  </div>
</div>

<div class="w-100p pos-relative left-0 h-41 back-black filter-blur opac-05 top-offset z-plus">
</div>

<div class="w-50p pos-abs top-10 left-10 h-10  z-plus txt-center ft-4 white">
  Hi, I'm Danny
</div>



<div class="container_12 back-white" style="">

  <!-- About Me Title -->
  <div class="grid_12 txt-center ">
    <div><h1>About Me</h1></div>
  </div>
  <div class="grid_5">
    <div class='square-box float-left'>
      <div class='square-content '>
        <div><span></span></div>
      </div>
    </div>
  </div>
  <div class="grid_7 txt-center clearfix">
    <h1 class="">Hi, I'm Danny.</h1>
    <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.asdfasdfasdfasdfasdfasdfa</p>
  </div>

  <div class="clear"></div>

  <div class="grid_6 -ltblue push_6 txt-center ft-2">
      <i id="social" class="fa fa-linkedin-square ft-1 linkedin"></i>
      <i id="social" class="fa fa-github github"></i>
      <i id="social" class="fa fa-twitter twitter"></i>
      <i id="social" class="fa fa-instagram instagram"></i>
  </div>

  <div class="clear"></div>

  <div class="grid_6  clearfix txt-center"><h1>Skills</h1></div>
  <div class="grid_6  clearfix txt-center"><h1>Personal Blurb</h1><p>long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distr</p></div>

  <div class="clear"></div>


</div>

<div id="divide" class="w-100p clearfix " style="height:500px;"></div>


<div class="container_12 back-white">

  <!-- About Me Title -->

  <div class="grid_12 txt-center ">
    <div><h1>About Me</h1></div>
  </div>
  <div class="grid_6 -yellow">
    <div class='square-box float-left'>
      <div class='square-content '>
        <div><span></span></div>
      </div>
    </div>
  </div>
  <div class="grid_6 txt-center clearfix">
    <h1 class="">Hi, I'm Danny.</h1>
    <p class="">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.asdfasdfasdfasdfasdfasdfa</p>
  </div>

  <div class="clear"></div>

  <div class="grid_6 -ltblue push_6 txt-center ft-2">
      <i id="social" class="fa fa-linkedin-square ft-1 linkedin"></i>
      <i id="social" class="fa fa-github github"></i>
      <i id="social" class="fa fa-twitter twitter"></i>
      <i id="social" class="fa fa-instagram instagram"></i>
  </div>

  <div class="clear"></div>

  <div class="grid_6 -red clearfix txt-center"><h1>Skills</h1></div>
  <div class="grid_6 -red clearfix"><h1>Personal Blurb</h1><p>long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distr</p></div>

  <div class="clear"></div>


</div>