
  <div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left ">
      <div class="marg-top1 pad-left5">DG</div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">
      <div class="marg-top1 pad-right5">
        <a href="#about-me">About</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#resume">Resume</a>
        <a href="#contact">Contact</a>

      </div>
    </div>
  </div>


  <div class="w-100p pos-abs" style="height:656px;">
    <div class="overflow-hid w-100p h-100p">
      <video  width='100%', height="auto", preload="", autoplay="autoplay", muted="muted", poster="", loop="true">
        <source src="assets/moose.mp4">
        </video>
    </div>
  </div>

  <div class="w-100p pos-relative left-0 h-41 back-black filter-blur opac-05 top-offset z-plus">
  </div>

  <div class="w-50p pos-abs top-10 left-10 h-10  z-plus txt-center ft-4 white">
    <%= @greeting %>, <%= @action %>.
  </div>


  <!-- About Me Section -->
  <div id="about-me" class="header"></div>
  <div  class="container_12 back-white">
    <div  class="grid_12 txt-center ">
      <div><h1>About Me</h1></div>
    </div>
    <!-- Profile Picture Round -->
    <div class="grid_6">
      <div class='square-box float-left'>
        <div class='square-content '>
          <div><span></span></div>
        </div>
      </div>
    </div>

    <!-- Introduction Section -->
    <div class="grid_6 txt-center clearfix">
      <h1 class="">Hi, I'm Danny.</h1>
      <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.asdfasdfasdfasdfasdfasdfa</p>
    </div>

    <div class="clear"></div>

    <!-- Social Links -->
    <div class="grid_6 -ltblue push_6 txt-center ft-2">
      <a href=""><i id="social" class="fa fa-linkedin-square ft-1 linkedin"></i></a>
      <a href="http://www.github.com/whoisglover"><i id="social" class="fa fa-github github"></i></a>
      <a href="http://www.twitter.com/whoisglover"><i id="social" class="fa fa-twitter twitter"></i></a>
      <a href="http://www.instagram.com/whoisglover"><i id="social" class="fa fa-instagram instagram"></i></a>
    </div>

    <div class="clear"></div>

    <!-- Extra Space -->
    <div class="grid_12 h-5"></div>

    <div class="clear"></div>

    <!-- Skills Section -->
    <div class="grid_6  clearfix txt-center">
      <h1>Skills</h1>
      <ul id="skills">
        <li>C/C++</li>
        <li>Java</li>
        <li>Ruby + Rails</li>
        <li>PHP</li>
        <li>HTML5/CSS3</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>Objective-C</li>
        <li>Swift</li>
        <li>Agile Web Development</li>
        <li>Test Driven Development</li>
        <li>API Design</li>
        <li>Mobile Application Development</li>
        <li>Algorithms</li>
        <li>SQL</li>
        <li>PSQL</li>
        <li>REST</li>
        <li>Git</li>
        <li>Github</li>
        <li>Pair Programming</li>
        <li>OO Principles & Design</li>
      </ul>
    </div>

    <!-- Personal Section -->
    <div class="grid_6  clearfix txt-center">
      <h1>Personal Blurb</h1>
      <p>long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrlong established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distr</p>
    </div>

    <div class="clear"></div>

    <!-- Extra Space -->
    <div class="grid_12 h-10"></div>
    <div class="clear"></div>
  </div>

  <!-- Tree Nap Divider -->
  <div id="divide" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Portfolio Section -->
  <div id="portfolio" class="header"></div>

  <div class="container_12 back-white">
    <div class="grid_12">
      <h1>Portfolio</h1>
    </div>
    <div class="clear"></div>

    <!-- FrogPress -->
    <div class="grid_4 -red txt-center">
      <div class="w-85p marg-auto back-orange h-10 marg-top1 txt-center white">Screenshot</div>

      <h2>FrogPress - Web</h2>
      <h3>Analytical classroom writing platform.</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Ruby on Rails</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Rspec + Capybara</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <p>Details<i class="fa fa-angle-double-right"></i></p>
    </div>
    <div class="grid_4  txt-center">
      <div class="w-85p marg-auto back-orange h-10 marg-top1 txt-center white">Screenshot</div>
      <h2>CapMS - Web</h2>
      <h3>Undergraduate Capstone classroom management system</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Ruby on Rails</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>AWS S3</li>
        <li>University of Missouri Single Sign On</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <p>Details<i class="fa fa-angle-double-right"></i></p>
    </div>
    <div class="grid_4 back-en txt-center">
      <div class="w-85p marg-auto back-orange h-10 marg-top1 txt-center white">Screenshot</div>

      <h2>When and Where - Web</h2>
      <h3>Crime plotting and analytics for the city of San Francisco</h3>
      <p>Technologies:</p>
      <ul class="txt-left">
        <li>Sinatra</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Data SF - City API</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <p>Details<i class="fa fa-angle-double-right"></i></p>
    </div>
    <div class="clear"></div>
    <div id="ios-projects" class="back-yellow">
      <div class="grid_4 pad-left18 txt-center">
        <div class="w-85p marg-auto back-orange h-10 marg-top1 txt-center white">Screenshot</div>
        <h2>Fit Together - iOS</h2>
        <h3>Team based excericse competition app.</h3>
        <p>Technologies:</p>
        <ul class="txt-left">
          <li>Swift</li>
          <li>XCode 6</li>
          <li>Healthkit</li>
          <li>Cloudkit</li>
        </ul>
        <p>Details<i class="fa fa-angle-double-right"></i></p>

      </div>

      <div class="grid_4 txt-center">
        <div class="w-85p marg-auto back-orange txt-center white h-10 marg-top1">Screenshot</div>
        <h2>WoW Stats: Realms - iOS</h2>
        <h3>World of Warcraft realm monitoring in real time.</h3>
        <p>Technologies:</p>
        <ul class="txt-left">
          <li>Swift</li>
          <li>XCode 6</li>
          <li>Battle.net API</li>
        </ul>
        <p>Details<i class="fa fa-angle-double-right"></i></p>
      </div>
    </div>
  </div>

  <div id="divide2" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Resume Section -->
  <div id="resume" class="header"></div>
  <div id="" class="container_12 back-white">
    <div class="grid_12 txt-center pad-btm-2">
      <h1>Resume</h1>
      <br>
      <img class = "w-75p marg-auto box-shadow" src="assets/resume.jpg">
      <a href="/assets/resume.pdf" class="txt-clear txt-right"><h5 class="pad-right7">Download PDF<i class="fa fa-file-pdf-o"></i></h5></a>

    </div>
  </div>

  <div id="divide3" class="w-100p clearfix " style="height:150px;"></div>

  <!-- Contact Me Section -->
  <div id="contact" class="header"></div>
  <div class="container_12 back-white">
    <div class="grid_12 h-30 txt-right">
      <h1>Contact Me</h1>
    </div>
  </div>

  <div class="w-100p white txt-center back-blue" style="border-top: 1px solid gray">
    <p style="margin-bottom:0;">Built with Ruby 2 + Rails 4</p><p class="margin-0 pad-btm-1"><a href="" class="txt-clear white">Blog</a> • <a href="" class="txt-clear white">Legal</a> • <a href="" class="txt-clear white">Source</a></p>
  </div>