<!-- Nav Bar -->
<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left">
      <div class="marg-auto pad-left7 " style="height:80%"><a href="/#top"><img id="logo" style="height:100%; padding-top:5px;" src="/assets/logodg.png"></a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">

      <div class="marg-top-nav pad-right7">
        <a href="/#about-me" class="pad-05">About</a>
        <a href="/#portfolio" class="pad-05">Portfolio</a>
        <a href="/#resume" class="pad-05">Resume</a>
        <a href="/#contact" class="pad-05">Contact</a>

      </div>
    </div>
</div>

<!-- Main Content -->
<div  class="container_12 back-white">
    <div class="grid_12 h-5"></div>
    <div  class="grid_12 txt-center">
      <div style="float:right; position:fixed;right:15rem;">
        <a href="/projects/when-where"><i class="fa fa-chevron-left nav-fa"></i></a>
        <a href="/#portfolio"><i class="fa fa-th nav-fa"></i></a>
        <a href="/projects/wow-stats-realms"><i class="fa fa-chevron-right nav-fa"></i></a>
      </div>

    </div>
    <!-- Profile Picture Round -->
    <div class="grid_7 h-20" style="margin-top:3rem;">
      <img src="/assets/fit/1.png" style="width:50%;padding-left:25%">
    </div>

    <!-- Introduction Section -->
    <div class="grid_5" >
      <div><h1 class="">Fit Together</h1></div>
      <p class="margin-0">Fit together is a team based walking competition app for the iPhone. Groups of friends, coworkers, or families can challenge each other to see who can walk the most in a given period of time.
      </p>
      <p>This iOS app is built purely in Swift and leverages Apple's Healthkit and Cloudkit. The app is supported on all iPhones, but using a 5S or newer means you don't need any additional hardware to track steps, just download the app and get walking!
      </p>
      <p>Fit Together was built with a team of my peers as part of the Mobile Application Development class at the University of Missouri.
      </p>
      <p class="txt-center"><b>Technologies:</b></p>
      <ul class="txt-left">
        <li>Swift</li>
        <li>XCode 6</li>
        <li>Healthkit</li>
        <li>Cloudkit</li>
      </ul>
      <div class="txt-center">
        <a href="http://www.github.com/whoisglover/fittogether" target="_blank"><i class="fa fa-2x fa-github"></i></div></a>
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-3 "></div>
