<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left ">
      <div class="marg-top-nav pad-left5"><a href="#top">DG</a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">

      <div class="marg-top-nav pad-right5">
        <a href="http://shielded-plains-6188.herokuapp.com/">About</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#resume">Resume</a>
        <a href="#contact">Contact</a>

      </div>
    </div>
</div>

<%= @project.name %>