<!-- Nav Bar -->
<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left">
      <div class="marg-auto pad-left7 " style="height:80%"><a href="/#top"><img id="logo" style="height:100%; padding-top:5px;" src="/assets/logodg.png"></a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">

      <div class="marg-top-nav pad-right7">
        <a href="/#about-me" class="pad-05">About</a>
        <a href="/#portfolio" class="pad-05">Portfolio</a>
        <a href="/#resume" class="pad-05">Resume</a>
        <a href="/#contact" class="pad-05">Contact</a>

      </div>
    </div>
</div>

<!-- Main Content -->
<div  class="container_12 back-white">
    <div class="grid_12 h-5"></div>
    <div  class="grid_12 txt-center">
      <div style="float:right; position:fixed;right:15rem;">

        <a href="/#portfolio"><i class="fa fa-th nav-fa"></i></a>
        <a href="/projects/capms"><i class="fa fa-chevron-right nav-fa"></i></a>
      </div>

    </div>
    <!-- Profile Picture Round -->
    <div class="grid_7 back-red h-20" style="margin-top:3rem;">
      <img src="/assets/frog/1.png" style="width:100%">
    </div>

    <!-- Introduction Section -->
    <div class="grid_5 " style="height:36rem;position:fixed; right:14.5rem; top: 8rem;">
      <div><h1 class="">FrogPress</h1></div>
      <p class="txt-cter">Frog Press is a writing and submission platform for students and teachers that graphs individual students' and classrooms of students' progress over multiple categories. Student's submissions are automatically analyzsed using several metrics. Teachers can also give students feedback on assignments through rubric scores or messages.</p>
      <p class="txt-nter">This was made as a final project for Dev Bootcamp San Francisco. The team decided from the start to implement this project using Test Driven Development. It was tough at first but once we got into the flow of TDD we were able to have an extremely solid code base, this allowed us to feature push all the way up to the day the project was presented.</p>
      <p class="txt-center"><b>Technologies:</b></p>
      <ul class="txt-left">
        <li>Ruby on Rails</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Rspec + Capybara</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <div class="txt-center">
        <a href="http://frogpress.herokuapp.com" target="_blank"><i class="fa-2x fa fa-link"></i></a>
        <a href="http://www.github.com/whoisglover/frogpress" target="_blank"><i class="fa fa-2x fa-github"></i></div></a>
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-green h-20">
      <img src="/assets/frog/2.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>


    <div class="grid_7  back-blue h-20">
      <img src="/assets/frog/3.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-offwhite h-20">
      <img src="/assets/frog/4.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-ltblue h-20">
      <img src="/assets/frog/5.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-ltblue h-20">
      <img src="/assets/frog/6.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_12 h-3 "></div>
