<!-- Nav Bar -->
<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left">
      <div class="marg-auto pad-left7 " style="height:80%"><a href="/#top"><img id="logo" style="height:100%; padding-top:5px;" src="/assets/logodg.png"></a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">

      <div class="marg-top-nav pad-right7">
        <a href="/#about-me" class="pad-05">About</a>
        <a href="/#portfolio" class="pad-05">Portfolio</a>
        <a href="/#resume" class="pad-05">Resume</a>
        <a href="/#contact" class="pad-05">Contact</a>

      </div>
    </div>
</div>

<!-- Main Content -->
<div  class="container_12 back-white">
    <div class="grid_12 h-5"></div>
    <div  class="grid_12 txt-center">
      <div style="float:right; position:fixed;right:15rem;">
        <a href="/projects/frogpress"><i class="fa fa-chevron-left nav-fa"></i></a>
        <a href="/#portfolio"><i class="fa fa-th nav-fa"></i></a>
        <a href="/projects/when-where"><i class="fa fa-chevron-right nav-fa"></i></a>
      </div>

    </div>
    <!-- Profile Picture Round -->
    <div class="grid_7" style="margin-top:3rem;">
     <ul class="bxslider">
        <li><img src="/assets/frog/1.png" /></li>
        <li><img src="/assets/frog/2.png" /></li>
        <li><img src="/assets/frog/3.png" /></li>
        <li><img src="/assets/frog/4.png" /></li>
      </ul>
    </div>

    <!-- Introduction Section -->
    <div class="grid_5 " style="height:36rem; right:14.5rem; top: 6rem;">
      <div><h1 class="">CapMS</h1></div>
      <p class="margin-0">How do you help a class of 30-250 students brainstorm projects and organize into teams without getting in the way?
      </p>
      <p class="margin-0">
      How can we better showcase to recruiters and the public the amazing work students are doing in their capstone classes?
      </p>
      <p class="txt-nter">CapMS is a web application made to solve these two problems: organizing student teams and showcasing the work they do. This was created as a capstone project for my B.S. in Computer Science at the University of Missouri, Columbia. </p><p>This application had to comply with Family Educational Rights and Privacy Act (FERPA) and also use the University's Single Sign On system in a secure and private manner.</p>
      <p class="txt-center"><b>Technologies:</b></p>
      <ul class="txt-left">
        <li>Ruby on Rails 4.1</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>AWS S3</li>
        <li>MU Single Sign On</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <div class="txt-center">
        <a href="http://capms.herokuapp.com" target="_blank"><i class="fa-2x fa fa-link"></i></a>
        <a href="http://www.github.com/capms/fallproject" target="_blank"><i class="fa fa-2x fa-github"></i></div></a>
    </div>
   <!--  <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-green h-20">
      <img src="/assets/frog/2.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>


    <div class="grid_7  back-blue h-20">
      <img src="/assets/frog/3.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-offwhite h-20">
      <img src="/assets/frog/4.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-ltblue h-20">
      <img src="/assets/frog/5.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-ltblue h-20">
      <img src="/assets/frog/6.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>-->
    <div class="clear"></div>

    <div class="grid_12 h-3 "></div>

