<!-- Nav Bar -->
<div id="nav" class="w-100p h-4 pos-fixed z-nav top-0 left-0  back-white b-btm">
    <div class="w-50p h-100p disp-inline float-left">
      <div class="marg-auto pad-left7 " style="height:80%"><a href="/#top"><img id="logo" style="height:100%; padding-top:5px;" src="/assets/logodg.png"></a></div>
    </div>
    <div class="w-50p h-100p disp-inline float-left txt-right ">

      <div class="marg-top-nav pad-right7">
        <a href="/#about-me" class="pad-05">About</a>
        <a href="/#portfolio" class="pad-05">Portfolio</a>
        <a href="/#resume" class="pad-05">Resume</a>
        <a href="/#contact" class="pad-05">Contact</a>

      </div>
    </div>
</div>

<!-- Main Content -->
<div  class="container_12 back-white">
    <div class="grid_12 h-5"></div>
    <div  class="grid_12 txt-center">
      <div style="float:right; position:fixed;right:15rem;">
        <a href="/projects/capms"><i class="fa fa-chevron-left nav-fa"></i></a>
        <a href="/#portfolio"><i class="fa fa-th nav-fa"></i></a>
        <a href="/projects/fit-together"><i class="fa fa-chevron-right nav-fa"></i></a>
      </div>

    </div>
    <!-- Profile Picture Round -->
    <div class="grid_7 " style="margin-top:3rem;">
      <img src="/assets/when-where/3.png" style="width:100%; border:1px solid gray">
    </div>

    <!-- Introduction Section -->
    <div class="grid_5 " style="height:36rem; right:14.5rem; top: 6rem;">
      <div><h1 class="">When & Where</h1></div>
      <p class="margin-0">
        When & Where is a crime plotting and analytics web app for the city of San Fransico. Crime data is aggregated from the San Francisco's open source city API found <a href="https://data.sfgov.org/">here</a>.
      </p>
      <p>This app was built as a 'portfolio challenge' during my education at DevBootcamp San Francisco.  Built on Sinatra and hosted by Heroku, this app let me stretch my legs with Javascript and Jquery. When & Where also provided a great opportunity to play with a large data set!</p>
      <p>I plan on refactoring and extending this app to support multiple cities.  Many cities are embracing the open API mentality for their data and I think crime tracking has real value for residents. </p>
      <p class="txt-center"><b>Technologies:</b></p>
      <ul class="txt-left">
        <li>Sinatra</li>
        <li>HTML5/CSS3</li>
        <li>Javascript + JQuery</li>
        <li>Data SF - City API</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
      <div class="txt-center">
        <a href="http://intense-ocean-4090.herokuapp.com" target="_blank"><i class="fa-2x fa fa-link"></i></a>
        <a href="http://www.github.com/whoisglover/portfolio10" target="_blank"><i class="fa fa-2x fa-github"></i></div></a>
    </div>
    <div class="clear"></div>
    <!-- <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-green h-20">
      <img src="/assets/when-where/2.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>


    <div class="grid_7  back-blue h-20">
      <img src="/assets/when-where/3.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-offwhite h-20">
      <img src="/assets/when-where/4.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div>

    <div class="grid_7  back-ltblue h-20">
      <img src="/assets/when-where/5.png" style="width:100%">
    </div>
    <div class="clear"></div>
    <div class="grid_12 h-1"></div>
    <div class="clear"></div> -->


    <div class="grid_12 h-3 "></div>
